COMPOSE_PROJECT_NAME=bugtracker

APP_LOCALE=en
APP_PORT=8080
APP_ADMIN_MAIL=admin@example.com
APP_ADMIN_USER=Administrator
APP_ADMIN_PASS=changeme

REDIS_HOST=redis
REDIS_PORT=6379

WEBSOCKET_PORT=8081

DB_HOST=db
DB_PORT=5432
DB_NAME=bugtracker_db
DB_USER=bugtracker_db_usr
DB_PASS=bugtracker_db_pass